:host {
  display: flex;
  background-color: var(--bg-color-header);
  justify-content: center;
  height: 120px;
  width: 100vw;

}

.header-elements {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;

}

.header-elements__title h1 {
  color: white;
  font-size: var(--font-size-h1-header);
  font-weight: 800;
  text-shadow: 2px 2px 2px #00000059;

}

.header-elements__search-bar {
  display: flex;
  height: 100%;
  width: var(--width-search-bar-header);
  align-items: center;
  justify-content: flex-end;
  gap: 6px;

  input[type="text"] {
    height: 40px;
    width: 70vw;
    border-radius: 10px 0px 0px 10px;
    border: none;
    padding-left: 10px;

    &:focus, &:focus + button[type="submit"] {
      outline: 2px solid black;
      outline-offset: 2px;

    }

  }

  button[type="submit"] {
    height: 40px;
    width: 65px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;

    &:hover {
      background-color: #00000018 !important;

    }

  }

}

.header-elements__container-icons {
  display: flex;
  align-items: center;
  height: 100%;

}

.header-elements__shopping-cart, .header-elements__container-user {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  .header-elements__icon {
    display: flex;
    flex-direction: column;
    align-items: inherit;
    justify-content: inherit;
    height: 45px;
    width: 45px;
    padding-top: 4px;

    &:hover {
      background-color: #00000028;
      border-radius: 50%;

    }

  }

}

fa-icon {
  font-size: 1.5em;
  cursor: pointer;

}
