<header>
  <div class="container-header-elements">
    <h1>Loja Online</h1>

    <div class="search-bar">
      <input type="text" placeholder="pesquisar por produto...">
      <button type="submit">
        <fa-icon [icon]="faMagnifyingGlass" style="color: white;"></fa-icon>

      </button>

    </div>

    <div class="shopping-cart">
      <div class="shopping-cart-icon">
        <fa-icon [icon]="faShoppingCart" style="color: white;"></fa-icon>
        
      </div>

    </div>

  </div>

</header>
