@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --bg-color-header: #ff2727;
  --bg-color-button-header: #fc1919;
  --border-color-button-header: #6d0000;

  --font-size-h1-header: 2.4em;
  --width-search-bar-header: 70%;

  --align-items-container-categories-promos-main: center;

  --width-categories-categories: 913px;
  --width-categories__items-categories: 878px;
  --padding-left-categories__items-categories: 45px;
  --width-categories__item-categories: 230px;
  --height-categories__img-categories: 219px;
  --width-categories__img-categories: 170px;
  --width-categories__arrows-categories: 964.08px;

  --width-product-wrapper-product-area: 1000px;
  --font-size-products-wrapper__h1-product-area: 2.3em;

  --grid-template-columns-wrapper__products-products: repeat(4, 1fr);
  --height-product-wrapper__product-products: 300px;
  --width-product-wrapper__product-products: 200px;

  --height-host-product-viewer: 1100px;
  --width-product-viewer__product-img-product-viewer: 500px;
  --flex-direction-product-viewer-product-viewer: row;
  --width-product-viewer__tags-product-viewer: 32vw;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html, body {
  overflow-x: hidden;

}

body {
  background-color: #F5F5F5;
  font-family: 'Fira Sans', sans-serif;
  height: 100vh;
  width: 100vw;

}
