<div ngClass="description">
  <h3>Loja Online Fictícia</h3>
  <p>Esta é uma loja online fictícia desenvolvida exclusivamente em Angular. O objetivo desse projeto foi criar uma interface interativa e responsiva, exibindo produtos armazenados em um arquivo JSON que atua como uma API. O projeto demonstra conceitos fundamentais presentes no framework, como componentização, rotas e integração com o serviço HttpClient.</p>

</div>

<div ngClass="contacts">
  <h3>Contatos</h3>

  <ul ngClass="contacts__items">
    <li ngClass="contacts__contact">
      <div ngClass="contacts__link">
        <fa-icon [icon]="faGithub"></fa-icon><a [href]="'https://github.com/RyanSoar3s'" [target]="'_blank'">GitHub</a>

      </div>

    </li>

    <li ngClass="contacts__contact">
      <div ngClass="contacts__link">
        <fa-icon [icon]="faLinkedin"></fa-icon><a [href]="'https://www.linkedin.com/in/ryan-s0ares-dev/'" [target]="'_blank'">LinkedIn</a>

      </div>

    </li>

    <li ngClass="contacts__contact">
      <div ngClass="contacts__link">
        <fa-icon [icon]="faWhatsapp"></fa-icon><a [href]="'https://api.whatsapp.com/send/?phone=5579988004580&text&type=phone_number&app_absent=0'" [target]="'_blank'">WhatsApp</a>

      </div>

    </li>

    <li ngClass="contacts__contact">
      <div ngClass="contacts__link">
        <fa-icon [icon]="faAt"></fa-icon><a [href]="'mailto:ryansoares.dev@gmail.com'" [target]="'_blank'">E-mail</a>

      </div>

    </li>

  </ul>

</div>

<div ngClass="source-code">
  <h3>Código Fonte</h3>
  <p>
    A loja ainda está em desenvolvimento.
    Caso queira acompanhar, você pode acessar o código fonte do projeto no
    <span ngClass="link">
      <a [href]="'https://github.com/RyanSoar3s/Loja-Online'" [target]="'_blank'">GitHub</a>

    </span>.

  </p>

</div>

<div ngClass="author">
  <h4>Feito por <span ngClass="author__name">Ryan Soares</span></h4>

</div>
