// Variables for the promotions component styles
$color-title: #ff2500;
$bg-color-promo-1: #ff4828;
$bg-color-promo-2: #f86843;
$bg-color-promo-3: #c51b0f;

$border-input-radio: 2px solid #00000081;
$bg-color-input-radio: #fd8844;

$box-shadow-button: 1px 1px 3px 0px #00000081;

// Variables for the categories component styles
$border-host: 5px solid #f01919;
$border-bottom-categories-title: 3px solid $color-title;
$box-shadow-categories: 3px 3px 5px 1px #0000001f;

// Variables for the product area component styles
$bg-color-host: #F5F5F5;
$border-bottom-product-wrapper__title: 3px solid $color-title;

// Variables for the products component styles
$border-product-wrapper__product: 2px solid #a9a9a9;
$border-hover-product-wrapper__product: 2px solid $color-title;
$border-product-wrapper__button: 1px solid #00000017;
$bg-color-hover-product-wrapper__button: #EFEFEF;
$color-product-wrapper__button: #333333;

// Variables for the product-viewer component styles
$bg-color-host: #f5f5f5;
$color-text: #ff2727;
$border-selected-thumbnail: 2px solid $color-text;
$bg-color-tag: #ededed;
$border-product-info-quantity: 2px solid #dfdfdf;
$border-button-quantity: 2px solid #dfdfdf;
$bg-color-hover-button-cart: #f1f1f1;
$bg-color-hover-button-buy: #ff2727d5;
