<div ngClass="products">
  @if (products_info) {
    @for(product of products_info; track $index) {
      <div ngClass="products__product" [routerLink]="[ '/produtos/produto' ]" [queryParams]="{ 'titulo': product.title }">
        <div ngClass="products__img">
          <img [src]="product.images[0]" [alt]="product.title">

        </div>

        <div ngClass="products__info">
          <div ngClass="products__desc">
            <p>{{ product.description }}</p>

          </div>

          <div ngClass="products__price">
            <h3>{{ product.price | currency: "BRL" }}</h3>

          </div>

        </div>

      </div>

    } @empty {
      <div ngClass="products__loading">
        <h2>Loading...</h2>
      
      </div>

    }

  }

</div>

<div ngClass="button" [ngStyle]="{ 'display': (!showedAllProducts) ? 'block' : 'none' }">
  <button (click)="showNextProducts()">Ver Mais</button>

</div>
